<!DOCTYPE html>
<html>

<head>
  <!-- <script src="https://kit.fontawesome.com/a076d05399.js"></script> -->
  <link rel="stylesheet" href="css/pageStyle.css" type="text/css">
  <link rel="stylesheet" href="css/cardStyle.css" type="text/css">
  <link rel="stylesheet" href="css/customFont.css" type="text/css">
  <!-- <script src="https://kit.fontawesome.com/0b484356bd.js" crossorigin="anonymous"></script> -->
</head>

<body>
  <% for(let p = 0; p < data.length; p++){ %>
    
    <div class="page cardPage">
      <% const page = data[p]; %>
      <% for (let c = 0; c < page.length; c++){ %>
        <% const card = page[c]; %>
        <div class="card">
          <img src="pictures/CardOutline.png" alt="outlinedCard" class="backCard">

          <div class="borderTest cardCenter">
            <div class="cardName">
              <%- card.name %>
            </div>
            <div class="cardTags">
              <%- card.tags %>
            </div>
            <hr class="taperedLine">
            <% for(let htmlTextIndex = 0; htmlTextIndex < card.htmlTexts.length; htmlTextIndex++) { %>
              <div class="cardText">
                <%- card.htmlTexts[htmlTextIndex] %>
              </div>
            <% } %>
            
            <div class="cardCost">
              <%- card.cost %>
            </div>
            <div class="cardRarity">
              <%- card.rarity %>
            </div>
            <div class="cardQuantity">
              <%- card.setAbbreviation %> <%- card.cardIndex %>/<%- card.setQuantity %> <%- card.quantityIndex %>/<%- card.quantity %> 
            </div>
          </div>
        </div>
      <% } %>
    </div>
  <% } %>
</body>
</html>