<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="css/pageStyle.css" type="text/css">
  <link rel="stylesheet" href="css/eventStyle.css" type="text/css">
</head>

<body>
  <% const segmentsPerSide = 2; %>
  <% const segmentsPerPage = segmentsPerSide * 2; %>
  <% const segmentsPerSheet = segmentsPerPage * 2; %>

  <% let sheets = data.length / segmentsPerSheet; %>
  <% sheets = Math.floor(sheets); %>
  <% if((data.length % segmentsPerSheet) != 0){ %>
    <% sheets = sheets + 1; %>
  <% } %>

  <% let segmentColumns = "" %>
  <% for(let i = 0; i < segmentsPerSide; i++){ %>
    <% segmentColumns += " 1fr" %>
  <% } %>

  <% for(let sheetIndex = 0; sheetIndex < sheets; sheetIndex++){ %>
    <% for(let pageIndex = 0; pageIndex < 2; pageIndex++){ %>
      <div class="page pageGrid">
        <% const horizontalSplit = pageIndex == 0 ? "horizontalSplitReverse" : "horizontalSplit"%>
        <% for(let sideIndex = 0; sideIndex < 2; sideIndex++){ %>
          <div class="sideGrid" style="grid-template-columns: <%- segmentColumns %>;"> 
            <% const rotation = pageIndex == 1 ? "rotate180" : "" %>
            <% for(let segmentIndex = 0; segmentIndex < segmentsPerSide; segmentIndex++){ %>
              <div class="textArea <%- rotation %>">
                <% const sheet = (sheetIndex * segmentsPerSheet) %>
                <% const page =  (pageIndex * segmentsPerPage) %>
                <% const side = (sideIndex * segmentsPerSide) %>
                <% const segment = segmentIndex; %>
                <% const cumulativeIndex = sheet + page + side + segment %>
                <!-- <span>
                  <%- sheet %> + <%- page %> + <%- side %> + <%- segment %> = <%- cumulativeIndex %>
                </span>  -->
                
                <% let p = 0; %>
                <% if(sideIndex == 0){ %>
                  <% p =  (sheets * segmentsPerSheet) - ((((sheet + page) / (segmentsPerSide * 2)) + 1)  * segmentsPerSide) + segmentIndex %>
                <% } else { %>
                  <% p = (((sheet + page) / (segmentsPerSide * 2)) * segmentsPerSide) +  segmentIndex %>
                <% } %>

                <% if (pageIndex == 0) { %>
                  <% p += ((segmentsPerSide - 1) - (2 * segmentIndex)) %>
                <% } %>

                <% if(p < data.length){ %>
                  <div class="circle"><%- p %></div>
                  <h2 class="segmentHeader">
                    <%- data[p].name %>
                  </h2>

                  <span class="segmentText">
                    <%- data[p].text %>
                  </span>
                <% } %>
              </div>
            <% } %>
          </div>
        <% } %>
      </div>
    <% } %>
  <% } %>
</body>

</html>